@using BackEndProject.Areas.Admin.ViewModels;
@model CoursesVM;
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Banner Area Start -->
<div class="banner-area-wrapper">
    <div class="banner-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="banner-content-wrapper">
                        <div class="banner-content">
                            <h2>courses details</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Area End -->
<!-- Blog Start -->
<div class="courses-details-area blog-area pt-150 pb-140">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="courses-details">
                    <div class="courses-details-img">
                        <img style="max-width:800px; max-height:400px;" src="~/admin/images/faces/@Model.Course.Image" alt="courses-details">
                    </div>
                    <div class="course-details-content">
                        <h2>@Model.Course.Title</h2>
                        <p>@Html.Raw(Model.Course.Description)</p>
                        <div class="course-details-right">
                            <h3>COURSE FEATURES</h3>
                            <ul>
                                <li>starts <span>@Model.Course.Starts</span></li>
                                <li>duration <span>@Model.Course.Duration Month</span></li>
                                <li>class duration <span>@Model.Course.ClassDuration hours</span></li>
                                <li>skill level <span>@Model.Course.SkillLevel</span></li>
                                <li>language <span>@Model.Course.Language</span></li>
                                <li>students <span>@Model.Course.Students</span></li>
                                <li>assesments <span>@Model.Course.Assesments</span></li>
                            </ul>
                            <h3 class="red">course fee $@Model.Course.Fee</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-sidebar right">
                    <div class="single-blog-widget mb-50">
                        <h3>search</h3>
                        <div class="blog-search">
                            <form id="search" action="#">
                                <input type="search" placeholder="Search..." name="search" />
                                <button type="submit">
                                    <span><i class="fa fa-search"></i></span>
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="single-blog-widget mb-50">
                        <h3>categories</h3>
                        @foreach(CourseCategory courseCategory in Model.CourseCategories)
                        {
                        <ul>
                                <li><a>@courseCategory.Category.Name</a></li>

                        </ul>
                        }
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog End -->
